@model TP3.Entidades.EF.T_PACIENTE

@{
    ViewBag.Title = "HistoriaClinica";
}

<div>
    <h2 style="text-align:center" class="text-success">Historia Clínica: @Model.T_HISTORIA_CLINICA.FirstOrDefault().nroHistoriaClinica</h2>
</div>
<table>
    <tr>
        <td><h4>Paciente: @Model.T_PERSONA.nompersona</h4></td>
        <td><h4>DNI: @Model.dniPaciente</h4></td>
    </tr>
</table>
<table class="table table-bordered table-striped">

    <tr>
        <td>Nro Atención</td>
        <td>Ffecha Atención</td>
        <td>Fecha resultado</td>
        <td>Médico</td>
        <td>Especialidad</td>
        <td>Estado</td>
        <td></td>
    </tr>
    @foreach (var item in Model.T_RESERVA_SERVICIO)
    {
        <tr>
            <td>@item.T_ORDEN_ATENCION.FirstOrDefault().idAtencion</td>

            <td>@item.T_ORDEN_ATENCION.FirstOrDefault().fechaFin</td>

            <td>@item.T_ORDEN_ATENCION.FirstOrDefault().T_RESULTADO_ATENCION.FirstOrDefault().fecResultado</td>

            <td>@item.T_EMPLEADO.T_PERSONA.nompersona</td>

            <td>@item.T_EMPLEADO.T_ESPECIALIDAD_MEDICA.nomEspecialidad</td>

            <td>@item.T_ORDEN_ATENCION.FirstOrDefault().T_RESULTADO_ATENCION.FirstOrDefault().estado</td>

            <td>@Html.ActionLink("Detalle", "DetalleHistoria", new { id = @item.T_ORDEN_ATENCION.FirstOrDefault().T_RESULTADO_ATENCION.FirstOrDefault().idResultado})</td>
        </tr>   
    }
   
</table>

<a href="javascript:history.back(1)">Volver Atrás</a>